.details_wrapper {
  display: flex;
  /* flex-direction: row; */
  /* gap: 10px; */
}
.details_wrapper h2 {
  margin-bottom: 40px;
}

.img_wrapper {
  max-width: 300px;
}

.link_wrapper {
  display: flex;
  gap: 24px;
  margin-bottom: 10px;
}
.discription_wrapper {
  margin-left: 10px;
}
.discription_wrapper p {
  margin-bottom: 20px;
}
.discription_wrapper h3 {
  margin-bottom: 20px;
}

button {
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}
