.layout_wrapper {
  display: flex;
  gap: 10px;
}

.navLink {
  padding: 10px 20px; /* Відступи всередині елементів */
  text-decoration: none; /* Видалення підкреслення тексту */
  color: black; /* Колір тексту */
}

.navLink.active {
  font-weight: bold; /* Виділення активного посилання */
  color: blue; /* Колір активного посилання */
}
