.movie_cast_wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.movie_cast_wrapper li {
  /* width: 150px; */
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.image_wrapper {
  /* width: 100%; */
  /* width: 150px; */
}

.image_actor {
  width: 150px;
}
